* {
  touch-action: manipulation;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.navbar ul li {
  list-style-type: none;
  padding: 10px 10px;
  border-radius: 10px;
}

.active {
  background-color: #009de0;
  color: white;
}

.category {
  padding: 20px;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}

.counter {
  display: flex;
}

.count-input {
  width: 40px;
  text-align: center;
}

.minus,
.plus {
  margin: 0 5px;
  padding: 10px 14px;
  border: 0.01px solid grey;
  border-radius: 5px;
}
